.pageHeader{
    display: grid;
    position: fixed;
    width: 100%;
    padding: 10px 50px;
    justify-content: space-between;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows:1fr;
    align-items: center;
    grid-template-areas: 
        "logoBrand callHome topRedes";
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
@media screen and (max-width: 1090px){
    .pageHeader{
        grid-template-columns: 10% 75% 15%;
    } 
}
@media screen and (max-width: 990px){
    .pageHeader{
        grid-template-columns:70% 30%;
        grid-template-areas: 
        "logoBrand hamburguesaMenu";
        .callHome{
            display: none;
        }
        .topRedes{
            display: none;
        }
    }
}
