.topRedes{
    text-align: end;
    display: flex;
    grid-gap: 10px;
    align-items: center;
    justify-content: flex-end;
    a img{
        height: 30px;
        width: 30px;
        transition: 0.3s;
    }
    :hover{
        height: 32px;
        width: 32px;
    }
}